---
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import { PostCardHoverOverlay } from './PostCardHoverOverlay'
import PostMetaInfo from './PostMetaInfo.astro'
import { Icon } from 'astro-icon/components'
import { getEntrySlug } from '@/utils/content'

interface Props {
  entry: CollectionEntry<'posts'>
}

const { entry } = Astro.props

const { remarkPluginFrontmatter } = await render(entry)
const postSlug = getEntrySlug(entry)
---

<a class="group block relative py-8 focus-visible:outline-0" href={`/posts/${postSlug}`}>
  <PostCardHoverOverlay />
  <h2 class="relative text-2xl font-bold">
    {entry.data.title}
    {
      entry.data.sticky > 0 && (
        <Icon
          class="absolute right-0 top-0 z-10 size-6 leading-none text-red-500"
          name="ri:pushpin-2-line"
        />
      )
    }
  </h2>
  <div class="mt-4">
    {entry.data.summary && <p class="break-words">{entry.data.summary}</p>}
  </div>
  <div class="mt-2 flex flex-wrap items-center justify-end gap-2 md:gap-4 select-none">
    <PostMetaInfo
      class="grow"
      date={entry.data.date as Date}
      lastMod={entry.data.lastMod}
      words={remarkPluginFrontmatter.words}
      readingMinutes={remarkPluginFrontmatter.readingMinutes}
    />
    <div class="group shrink-0 text-accent flex items-center gap-2">
      <span>继续阅读</span>
      <svg width="36" height="12" viewBox="0 0 36 12" fill="none" class="stroke-current">
        <path
          d="M0.75 6H11.25 M6 0.75L11.25 6L6 11.25"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M15 10L19.5 5.5L15 1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="translate-x-[-2px] opacity-0 transition-all duration-300 delay-75 group-hover:translate-x-0 group-hover:opacity-100"></path>
        <path
          d="M23 10L27.5 5.5L23 1"
          stroke-opacity="0.66"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="translate-x-[-3px] opacity-0 transition-all duration-300 delay-150 group-hover:translate-x-0 group-hover:opacity-100"></path>
        <path
          d="M31 10L35.5 5.5L31 1"
          stroke-opacity="0.35"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="translate-x-[-4px] opacity-0 transition-all duration-300 delay-200 group-hover:translate-x-0 group-hover:opacity-100"></path>
      </svg>
    </div>
  </div>
</a>
