---
import Layout from './Layout.astro'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { Provider } from '@/components/provider/Provider'
import 'katex/dist/katex.min.css'

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
  aisummaryConfig?: string
  aisummary?: string
}

const { title, description, image, mdTitle, mdDescription, mdSlug, aisummaryConfig, aisummary } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />

  <Header client:only="react" />
  <main class="relative z-1 pt-16 min-h-main bg-primary">
    <div
      class="pointer-events-none absolute -z-1 top-0 inset-x-0 h-[350px] bg-gradient-to-r from-accent/5 to-accent/15"
      style="mask-image: linear-gradient(black, transparent);"
      aria-hidden="true"
    ></div>
    <div class="swup-transition-fade">
      <slot />
    </div>
  </main>
  <Footer />

  {/* AISummary 脚本 */}
  {aisummaryConfig && <script src={aisummaryConfig} is:inline />}
  {aisummary && <script src={aisummary} is:inline />}
</Layout>

